@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Preface */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End preface */

/* Itroduction */
#introduction ol{
	list-style-type: lower-roman;
}

#introduction ul{
	list-style-type: none;
}
/* End introduction */

/* Stanza header */
[epub|type~="z3998:poem"] header{
	margin: 2em 1em 1em;
}

[epub|type~="z3998:poem"] header p{
	text-align: center;
}

[epub|type~="z3998:poem"] header + p{
	margin: 0;
}

/* Stanza header */
/* Poem, verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i13{
	padding-left: 14em;
	text-indent: -1em;
}
/* End poem, verse */

/* Glossary */
dl{
	margin: 1em 0;
}

dd{
	margin-left: 40px;
}

dd + dt{
	margin-top: 1em;
}
/* End gloassary */

/* Image */
figure{
	break-inside: avoid;
	margin: 1em 2.5em;
}

figure img{
	display: block;
	margin: auto;
	max-height: 100vh;
	max-width: 100%;
}
/* End image */
